language: java
jdk:
- oraclejdk8
before_install:
- openssl aes-256-cbc -K $encrypted_a7d513d1064e_key -iv $encrypted_a7d513d1064e_iv
  -in deploy_gh_pages.enc -out deploy_gh_pages -d
cache:
    directories:
        - .gradle
        - $HOME/.gradle
after_success: |
  echo TRAVIS_BRANCH $TRAVIS_BRANCH
  echo TRAVIS_PULL_REQUEST $TRAVIS_PULL_REQUEST
  if [ "$TRAVIS_BRANCH"  == "master" ] && [ -z "$TRAVIS_PULL_REQUEST" ]; then
    cd "$TRAVIS_BUILD_DIR"
    # Setup
    ssh-add deploy_gh_pages
    git clone "git@github.com:atiw-sportfest/atiw.sportfest.github.io" ../gh-pages
    # Generate repo
    ./gradlew uploadArchives
    # Sync
    rsync -rua $RSYNC_EXTRA repo/ ../gh-pages/repo/
    # Update
    cd ../gh-pages/
    git add ./repo
    git -c user.name='travis' -c user.email='travis' commit -m "Travis: Update $TRAVIS_REPO_SLUG ($TRAVIS_BUILD_NUMBER)"
    # Push
    git push
    cd "$TRAVIS_BUILD_DIR"
  fi
